<form class="flex flex-col gap-6" @submit.prevent="submitDbForm()">
    <h1 class="text-lg font-bold">Database credential</h1>

    <div class="grid grid-cols-6 gap-6">
        <div class="col-span-4">
            <label for="host" class="text-sm font-semibold">Hostname</label>
            <input type="text" class="mt-2 input" id="host"
                placeholder="localhost" x-model="model.db.host" required>
        </div>

        <div class="col-span-2">
            <label for="port" class="text-sm font-semibold">Port</label>
            <input type="text" class="mt-2 input" id="port"
                placeholder="localhost" x-model="model.db.port" required>
        </div>

        <div class="col-span-6">
            <label for="name" class="text-sm font-semibold">Database
                name</label>
            <input type="text" class="mt-2 input" id="name"
                placeholder="aikeedo" x-model="model.db.name" required>
        </div>

        <div class="col-span-3">
            <label for="user" class="text-sm font-semibold">Username</label>
            <input type="text" class="mt-2 input" id="user"
                placeholder="Your database username" x-model="model.db.user"
                required>
        </div>

        <div class="col-span-3">
            <label for="password" class="text-sm font-semibold">Password</label>
            <input type="password" class="mt-2 input" id="password"
                placeholder="Your database password" autocomplete="new-password"
                x-model="model.db.password">
        </div>

        <template x-if="error">
            <div class="col-span-6">
                <ul class="m-3 mb-0 text-xs list-disc list-inside text-failure">
                    <li class="my-1" x-text="error"></li>
                </ul>
            </div>
        </template>
    </div>


    <button type="submit" class="w-full button group" :disabled="!isSubmitable"
        :processing="isProcessing">
        Continue
        <i
            class="text-2xl ti ti-square-rounded-chevron-right group-[[processing]]:hidden"></i>

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="24px" height="24px" viewBox="0 0 50 50"
            style="enable-background:new 0 0 50 50;" class="spinner"
            xml:space="preserve">
            <path fill="currentColor"
                d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                <animateTransform attributeType="xml" attributeName="transform"
                    type="rotate" from="0 25 25" to="360 25 25" dur="0.6s"
                    repeatCount="indefinite"></animateTransform>
            </path>
        </svg>
    </button>

    <p class="text-xs text-content-dimmed">
        <i class="ti ti-help-square-rounded-filled"></i>
        Don't know hot to setup?

        <a href="https://aikeedo.com" target="_blank" class="text-info">
            Let us do it for you
        </a>
    </p>
</form>