Dear {{ user.first_name }},

<p>Welcome to {{ option.site.name ?? '' }}! </p>

<p>
  We are thrilled to have you on board. Our
  team is committed to providing you with an exceptional experience, and we are
  here to support you every step of the way.
</p>

<p>
  Warm regards, <br>
  {{ option.site.name ?? '' }} team
</p>