# ENVIRONMENT
# Possible values: prod, dev, install, demo
# ############################################################################ #
ENVIRONMENT=install

# Don't set to the true on the production server
DEBUG=true

# Enable/disable cache
CACHE=false

# Random JWT token
JWT_TOKEN=

# DATABASE CONFIG
# ############################################################################ #

# Database driver. Possible values
# mysql: MySQL (with PHP PDO)
DB_DRIVER=

# Username to use when connecting to the database.
# Will used with following drivers: mysql
DB_USER=

# Password to use when connecting to the database.
# Will used with following drivers: mysql
DB_PASSWORD=

# The hostname on which the database server resides.
# Will used with following drivers: mysql
DB_HOST=

# The port number where the database server is listening.
# Will used with following drivers: mysql
DB_PORT=

# The name of the database.
# Will used with following drivers: mysql
DB_NAME=

# The character set. 
# Will used with following drivers: mysql
DB_CHARSET='utf8mb4'

# Name of the socket used to connect to the database. 
# Shouldn't be used with host or port.
DB_UNIX_SOCKET=

# The filesystem path to the SQLite database
# Will used with following drivers: sqlite
SQLITE_PATH=