<div>
  {% if back %}
  <div class="mb-4">
    {% include "snippets/back.twig" with {link: back} %}
  </div>
  {% endif %}

  <div class="flex items-center gap-3">
    <h1>{% block title %}{% endblock %}</h1>

    {% block badge %}{% endblock %}
  </div>

  {% if block('desc') is not empty %}
  <p class="mt-2 text-content-dimmed">{% block desc %}{% endblock %}</p>
  {% endif %}
</div>