{% extends "@theme/layouts/landing_theme.twig" %}

{% block landing_template %}
	<!-- START HOME -->
	<section  id="home" class="home_bg">
		<div class="container">
			<div class="row">
				<div class="offset-lg-1 col-lg-10 col-sm-12 col-xs-12 text-center">
					<div class="about_me_content">
						<h1 class="cd-headline clip">Transforming ideas into AI generated masterpieces
							<span class="cd-words-wrapper">
							<b class="is-visible">Transcribe</b>
							<b>Write emails</b>
							<b>Get content explanation</b>
							<b>Content writing</b>
							<b>Coding helper</b>
							<b>COnvert Speech to text</b>
							</span>
						</h1>
						<p>Chatrova helps users effortlessly generate high-quality AI-driven content tailored to your needs. Unlock limitless possibilities, save your time and start making money today! </p>
					</div>
					<div class="home_btn">
						<a href="/register" class="home_one">Get started</a>
					</div>
				</div><!-- END COL-->
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END  HOME -->

	<!--START TOP FEATURES -->
	<div class="top-feature">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
					<div class="single_tf">
						<span class="ti-user"></span>
						<h3>100+</h3>
						<p>Happy copywriters, marketers & entrepreneurs</p>
					</div>
				</div><!--END COL -->
				<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="single_tf">
						<span class="ti-pencil-alt"></span>
						<h3>4/5 Reviews</h3>
						<p>Satisfaction rating from 1300+ reviews on TrustPilot, G2 & more.</p>
					</div>
				</div><!--END COL -->
				<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
					<div class="single_tf">
						<span class="ti-money"></span>
						<h3>35,000+ hours</h3>
						<p>and $70000+ saved in content writing so far</p>
					</div>
				</div><!--END COL -->
			</div><!--END ROW -->
		</div><!--END CONTAINER -->
	</div>
	<!--END TOP FEATURES -->

	<!-- START COMPANY PARTNER LOGO  -->
	<div class="partner-logo section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="partner_title">
						<h3>Trusted By 100+ Company Around The World! </h3>
					</div>
					<div class="partner">
						<a href="#"><img src="assets/img/clients/brand-1.png" alt="image"></a>
						<a href="#"><img src="assets/img/clients/brand-2.png" alt="image"></a>
						<a href="#"><img src="assets/img/clients/brand-3.png" alt="image"></a>
						<a href="#"><img src="assets/img/clients/brand-4.png" alt="image"></a>
						<a href="#"><img src="assets/img/clients/brand-5.png" alt="image"></a>
						<a href="#"><img src="assets/img/clients/brand-1.png" alt="image"></a>
						<a href="#"><img src="assets/img/clients/brand-2.png" alt="image"></a>
						<a href="#"><img src="assets/img/clients/brand-3.png" alt="image"></a>
					</div>
				</div><!-- END COL  -->
			</div><!--END  ROW  -->
		</div><!-- END CONTAINER  -->
	</div>
	<!-- END COMPANY PARTNER LOGO -->

	<!--START SERVICE -->
	<div id="service" class="best-service section-padding">
		<div class="container">
			<div class="section-title">
				<h2>Our Services</h2>
				<p>Automatically generate high-quality content for <span>30+ use-cases</span></p>
			</div>
			<div class="row text-center">
				<div class="col-lg-3 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
					<div class="single_service">
						<div class="ss_icon"><span class="ti-pencil-alt"></span></div>
						<h3>High Quality Code </h3>
						<p>Developed by Using Domain-Driven Design and Onion Architecture Principles. </p>
					</div>
				</div><!--END COL -->
				<div class="col-lg-3 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="single_service">
						<div class="ss_icon"><span class="ti-package"></span></div>
						<h3>AI Writer  </h3>
						<p>Write SEO optimized blogs, sales emails and more... </p>

					</div>
				</div><!--END COL -->
				<div class="col-lg-3 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
					<div class="single_service">
						<div class="ss_icon"><span class="ti-world"></span></div>
						<h3>AI Image Generator</h3>
						<p> Instantly create stunning images using AI Image Generator – your tool for artistic innovation. </p>
					</div>
				</div><!--END COL -->
				<div class="col-lg-3 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
					<div class="single_service">
						<div class="ss_icon"><span class="ti-light-bulb"></span></div>
						<h3>AI Chat Bot </h3>
						<p> Create a bot that's remarkably human-like and engaging...</p>
					</div>
				</div><!--END COL -->
			</div><!--END ROW -->
		</div><!--END CONTAINER -->
	</div>
	<!--END SERVICE -->

	{% include "@theme/sections/landing/pricing.twig" %}

	<!-- START HOW IT WORKS -->
	<section class="hiw_area section-padding">
		<div class="container">
			<div class="section-title">
				<h2>How It works</h2>
				<p>Save your time and money, Very easy to create your <span>writing content that converts</span> </p>
			</div>
			<div class="row">
				<div class="col-lg-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
					<div class="single_hiw">
						<div class="sh_title">01</div>
						<div class="single_hiw_content">
							<h3>Choose Usecase</h3>
							<p>It is a long established fact that reader will be distracted readable content of a page when.</p>
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-lg-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="single_hiw">
						<div class="sh_title">02</div>
						<div class="single_hiw_content">
							<h3>Input context</h3>
							<p>It is a long established fact that reader will be distracted readable content of a page when.</p>
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-lg-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
					<div class="single_hiw">
						<div class="sh_title">03</div>
						<div class="single_hiw_content">
							<h3>Magically Writes</h3>
							<p>It is a long established fact that reader will be distracted readable content of a page when.</p>
						</div>
					</div>
				</div><!--- END COL -->
			</div><!--- END ROW -->
			<!-- <div class="row">
                <div class="col-lg-12 vp_top wow fadeInUDown" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                    <div class="video_promotion">
                        <img src="assets/img/video-bg.jpg" class="img-fluid" alt="" />
                        <a class="video-play" href="https://www.youtube.com/watch?v=OUFcCoTx8zM"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div> -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END HOW IT WORKS -->

	<!-- START TESTIMONIALS -->
	<section class="test_area section-padding">
		<div class="container">
			<div class="section-title">
				<h2>Reviews</h2>
				<p>All the reviews loved by Customer Satisfaction rating from <span>1300+ reviews on TrustPilot</span> & more </p>
			</div>
			<div class="row">
				<div class="col-lg-5">
					<div class="test_img">
						<img src="assets/img/ai-generator.png" class="img-fluid" alt="">
					</div>
				</div>
				<div class="col-lg-7">
					<div id="testimonial-slider" class="owl-carousel">
						<div class="single_rev">
							<div class="rev_content">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<p>Relieve the stress of juggling multiple projects by providing seamless collaboration, team billing and robust project management features all without the hefty price tag.it's easy to get back to what matters: running your business and making sure everything runs smoothly.</p>
							</div>
							<div class="pic_content">
								<div class="rev_pic">
									<img src="assets/img/testimonial/img-1.jpg" class="img-fluid" alt="">
								</div>
								<h4>James Simmons</h4>
								<small class="post">Marketer</small>
							</div>
						</div>
						<div class="single_rev">
							<div class="rev_content">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<p>Relieve the stress of juggling multiple projects by providing seamless collaboration, team billing and robust project management features all without the hefty price tag.it's easy to get back to what matters: running your business and making sure everything runs smoothly.</p>
							</div>
							<div class="pic_content">
								<div class="rev_pic">
									<img src="assets/img/testimonial/img-2.jpg" class="img-fluid" alt="">
								</div>
								<h4>Shek Hasina</h4>
								<small class="post">Author</small>
							</div>
						</div>
						<div class="single_rev">
							<div class="rev_content">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<p>Relieve the stress of juggling multiple projects by providing seamless collaboration, team billing and robust project management features all without the hefty price tag.it's easy to get back to what matters: running your business and making sure everything runs smoothly.</p>
							</div>
							<div class="pic_content">
								<div class="rev_pic">
									<img src="assets/img/testimonial/img-3.jpg" class="img-fluid" alt="">
								</div>
								<h4>Biddut Momtaz</h4>
								<small class="post">Blogger</small>
							</div>
						</div>
						<div class="single_rev">
							<div class="rev_content">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<p>Relieve the stress of juggling multiple projects by providing seamless collaboration, team billing and robust project management features all without the hefty price tag.it's easy to get back to what matters: running your business and making sure everything runs smoothly.</p>
							</div>
							<div class="pic_content">
								<div class="rev_pic">
									<img src="assets/img/testimonial/img-4.jpg" class="img-fluid" alt="">
								</div>
								<h4>Kader Kaku</h4>
								<small class="post">CEO at chapabaz</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END TESTIMONIALS -->
{% endblock %}