<div id="product">
  <h2 class="text-center enter">
    {{ dp__('theme', 'heading', 'Meet your ultimate') }}

    <div class="from-[#D3F36B] to-[#6BAAF3] bg-gradient-to-r bg-clip-text">
      {{ dp__('theme', 'heading', 'AI-Powered Content Platform') }}
    </div>
  </h2>

  <div class="flex flex-col gap-6 mt-6 md:mt-12 md:gap-10">
    {% include "@theme/sections/writer.twig" %}
    {% include "@theme/sections/presets.twig" %}
    {% include "@theme/sections/code.twig" %}
    {% include "@theme/sections/image.twig" %}
    {% include "@theme/sections/chat.twig" %}

    <div class="grid gap-5 md:gap-12 md:grid-cols-2 enter">
      {% include "@theme/sections/speech-to-text.twig" %}
      {% include "@theme/sections/text-to-voice.twig" %}
    </div>
  </div>
</div>