<div class="wrapper enter">
  <img src="assets/preview.webp" alt="Application preview" width="2400"
    height="1480" class="rounded-3xl dark:hidden">

  <img src="assets/preview-dark.webp" alt="Application preview" width="2400"
    height="1480" class="hidden rounded-3xl dark:block">

  <div class="float -top-3 -left-6 -rotate-[15deg]">
    <span class="icon shadow-right text-[#30C862]">
      <i class="ti ti-topology-star"></i>
    </span>
  </div>

  <div class="-mt-6 -ml-6 float top-full left-1/2 -rotate-[10deg]">
    <span class="icon shadow-right text-[#00A6FB]">
      <i class="ti ti-carousel-horizontal"></i>
    </span>
  </div>
</div>