Dear {{ user.first_name }},

<p>
  We received a request to reset the password for your
  {{ option.site.name ?? '' }}
  account associated with this email address. If you made this request, please
  follow the instructions below to create a new password.
</p>

<p>
  <a href="{{ reset_url }}">Click here</a> to reset your password.
</p>

<p>
  If you didn’t request a password reset, it’s possible that someone else
  entered your email address by mistake. If you did not initiate this request,
  please ignore this email, and your password will remain the same.
</p>

<p>
  Warm regards, <br>
  {{ option.site.name ?? '' }} team
</p>