<!-- START PRELOADER -->
<div class="preloader">
    <div class="status">
        <div class="status-mes"></div>
    </div>
</div>
<!-- END PRELOADER -->

<!-- START NAVBAR -->
<div id="navigation" class="fixed-top navbar-light bg-faded site-navigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="site-logo">
                    <a href="/"><img src="assets/img/chatrova.png" alt=""></a>
                </div>
            </div><!--- END Col -->

            <div class="col-lg-7 col-md-9 col-sm-8 ">
                <div class="header_right ">
                    <nav id="main-menu" class="ms-auto">
                        <ul>
                            <li><a class="nav-link" href="/">Home</a></li>

                            <li><a class="nav-link" href="#pricing">Pricing</a></li>
                            <li><a class="nav-link" href="#service">Features</a></li>
                            <li class="home_btn">
                                <a href="/login" class="home_one">Login</a>
                            </li>
                            <li class="home_btn">
                                <a href="/signup" class="home_one">Sign up</a>
                            </li>
                        </ul>
                    </nav>
                    <div id="mobile_menu"></div>
                </div>
            </div><!--- END Col -->
            <!-- <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="call_to_action">
                    <a href="#pricing">Try For Free</a>
                </div>
            </div> -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</div>
<!-- END NAVBAR -->